#info {
  background-color:aquamarine;
  font-family: Georgia;
  text-align: center;
}

h1 {
  font-size: 5em;
}

h2 {
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
}

ul {
  list-style-type: none;
}

/* .info {

} */

/* .skills {
  text-align:center;
} */

#references {
  background-color:aquamarine;
  text-align: center;
}